dist: trusty
sudo: required
language: generic

matrix:
  include:
    - dist: trusty
      env: COQ_VERSION="trunk"    COQ_PACKAGE="coq" PPA="ppa:jgross-h/coq-trunk-daily" 
    - dist: trusty
      env: COQ_VERSION="v8.6"     COQ_PACKAGE="coq" PPA="ppa:jgross-h/coq-8.6-daily"
    - dist: trusty
      env: COQ_VERSION="v8.5"     COQ_PACKAGE="coq" PPA="ppa:jgross-h/coq-8.5-daily"
    - dist: trusty
      env: COQ_VERSION="8.6"      COQ_PACKAGE="coq-8.6" PPA="ppa:jgross-h/many-coq-versions"

before_install:
  - if [ ! -z "$PPA" ]; then sudo add-apt-repository "$PPA" -y; fi
  - sudo apt-get update -q
  - sudo apt-get install $COQ_PACKAGE -y

script:
- echo 'Building GeoCoq...' && echo -en 'travis_fold:start:geocoq.build\\r'
# We lack a few minutes to be able to build the whole library.
#- sed -i.bak '/Ch16_coordinates_with_functions\.v/d' Make && \
#- sed -i.bak '/Elements\/Book_1\.v/d'                Make && \
#- sed -i.bak '/Elements\/Book_3\.v/d'                Make && \
- ./configure.sh
- travis_wait 60 make -j 2 && \
# travis_wait allows 20 minutes without output, usefull for long automatic proofs
- echo -en 'travis_fold:end:geocoq.build\\r'
