dist: trusty
sudo: required
language: c
cache:
  apt: true
  directories:
  - $HOME/.opam
addons:
  apt:
    sources:
    - avsm
    packages:
    - opam
    - aspcud
env:
  global:
  - NJOBS=2
  # system is == 4.02.3
  - COMPILER="system"
  # Main test targets
  matrix:
  - TEST_TARGET="trunk"


install:
- "[ -e .opam ] || opam init -j ${NJOBS} --compiler=${COMPILER} -n -y"
- eval $(opam config env)
- opam config var root
- opam install -j ${NJOBS} -y ocamlfind camlp5 ${EXTRA_OPAM}
- opam list
# We could do "opam install coq=${TEST_TARGET}" but not so sure how
# that does work for trunk.
- git clone -b ${TEST_TARGET} git://scm.gforge.inria.fr/coq/coq.git coq-${TEST_TARGET}
- cd coq-${TEST_TARGET}
- ./configure -native-compiler no -local -coqide no
- make -j ${NJOBS}
- cd -

script:
- echo 'Building GeoCoq...' && echo -en 'travis_fold:start:geocoq.build\\r'
- export PATH=`pwd`/coq-${TEST_TARGET}/bin:$PATH
- ./configure.sh
# We lack a few minutes to be able to build the whole library.
#- sed -i.bak '/Ch16_coordinates_with_functions\.v/d' Make && \
#- sed -i.bak '/Elements\/Book_1\.v/d'                Make && \
#- sed -i.bak '/Elements\/Book_3\.v/d'                Make && \
- coq_makefile -f Make -o Makefile && \
- make -j ${NJOBS} && \
- echo -en 'travis_fold:end:geocoq.build\\r'
