dist: trusty
sudo: required
language: c
cache:
  apt: true
  directories:
  - $HOME/.opam
addons:
  apt:
    sources:
    - avsm
    packages:
    - aspcud
env:
  global:
  - NJOBS=2
  # system is == 4.02.3
  - COMPILER="system"
  # Main test targets
  matrix:
  - TEST_TARGET="trunk"

before_install:
  - sudo add-apt-repository ppa:jgross-h/coq-trunk-daily -y
  - sudo apt-get update -q
  - sudo apt-get install coq -y
  
install:
  - true
# We could do "opam install coq=${TEST_TARGET}" but not so sure how
# that does work for trunk.
#- git clone -b ${TEST_TARGET} git://scm.gforge.inria.fr/coq/coq.git coq-${TEST_TARGET}
#- cd coq-${TEST_TARGET}
#- ./configure -native-compiler no -local -coqide no
#- make -j ${NJOBS}
#- cd -

script:
- echo 'Building GeoCoq...' && echo -en 'travis_fold:start:geocoq.build\\r'
#- export PATH=`pwd`/coq-${TEST_TARGET}/bin:$PATH
# We lack a few minutes to be able to build the whole library.
#- sed -i.bak '/Ch16_coordinates_with_functions\.v/d' Make && \
#- sed -i.bak '/Elements\/Book_1\.v/d'                Make && \
#- sed -i.bak '/Elements\/Book_3\.v/d'                Make && \
- ./configure.sh
- make -j ${NJOBS} && \
- echo -en 'travis_fold:end:geocoq.build\\r'
